body{
    background-color: burlywood;
}

.sign-up-form{
    width: 50%;
    padding: 20%; 
      
}
.sign-heading{

    margin-left: 23%;
}
.sign-up-form input{
    width: 50%;
    
}
input{
    width: 95%;
}

.sub-btn{
    background-color: aqua;
    margin-left: 40%;

}

.try-div{
    border: 8px dotted blue;
    height: 500px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
}